html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: black;
  --background-color-body: rgb(255, 255, 255);
  --background-color-header: rgb(149, 151, 151);
  --background-color-aside: rgb(210, 226, 218);
  --color-text-footer: brown;
  --background-color-footer: rgb(149, 151, 151);
  --color-link-active: teal;
  --color-link-hover: rgba(238, 9, 9, 0.932);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  color: black;
  outline: 1px solid red;
  margin: 0 auto;
}
body {
  width: 680px;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  color: var(--primary-text-color);
  background-color: rgb(250, 247, 247);
  line-height: 1.5;
}
.list-marker {
  list-style: none;
}
main {
  width: 400px;
  outline: 1px solid red;
}
.name-section {
  font-size: 20px;
  text-align: center;
  background-color: antiquewhite;
}
/* .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
} */
/*========HEADER========*/
.header {
  display: flex;
  background-color: var(--background-color-header);
  outline: 1px solid red;
}

.header > .img {
  width: 280px;
  outline: 1px solid red;
}

.text-header {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  outline: 1px solid red;
}
.headr-name {
  margin: 0 auto;
  padding-top: 101px;
  outline: 1px solid red;
}
.img {
  display: block;
  outline: 1px solid red;
}
.section {
  padding-left: 15px;
  outline: 1px solid red;
}

.link {
  text-decoration: none;
}
.link:active {
  color: var(--color-link-active);
  font-size: 17px;
}
.link:hover,
.link:focus {
  color: var(--color-link-hover);
  font-size: 17px;
}

.aside {
  width: 280px;
  background-color: var(--background-color-aside);
  outline: 1px solid red;
}
.aside-main {
  display: flex;
  flex-direction: row-reverse;
  outline: 1px solid red;
}

.link-contacts {
  text-decoration: none;
}
.link-contacts:hover,
.link-contacts:focus {
  color: var(--color-link-hover);
  font-size: 17px;
}
.footer {
  color: var(--color-text-footer);
  font-size: 17px;
  text-align: center;
  background: var(--background-color-footer);
  outline: 1px solid red;
}
.footer-text {
  margin: 0 auto;
}
